.body__home {
  min-width: 1440px;
  font-family: 'Space Grotesk', sans-serif;
  min-height: 900px;
  height: 100%;
  border: solid 1px red;
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 375px) {
  .body__home {
    min-width: 375px;
    font-family: 'Space Grotesk', sans-serif;;
  }
}